*.rpyc
Drop Your Profile Picture Here/
new_route/
cache/
saves/
fonts/
gui/
tl/
sfx/
Music/
voice files/
images/
errors.txt
1-Update-list.md
log.txt
project.json
traceback.txt
.android.json
_config.yml
game/create_a_chatroom.rpy
game/z_route_test.rpy