*.rpyc
Drop Your Profile Picture Here/
cache/
saves/
fonts/
gui/
tl/
sfx/
Music/
voice files/
images/
errors.txt
1-Update-list.txt
log.txt
project.json
traceback.txt
.android.json
dialogue.tab
_config.yml
create_a_chatroom.rpy